[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
isort = "*"
"flake8" = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pillow = "*"
django-pytest = "*"
dj-database-url = "*"
dj-static = "*"
"static3" = "*"
"psycopg2" = "*"
gunicorn = "*"
"boto3" = "*"
django-storages = "*"
whitenoise = "*"
django-redis = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.6"
