{% load static %}
{% load core_tags %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portal</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'core/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- endinject -->
    {% block css %}
    {% endblock %}
</head>

<body>
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="{% url 'core:index' %}">
            {% logo_tag %}
        </a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'core:index' %}">
            {% logo_mini_tag %}
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                   aria-expanded="false">
                    <span class="profile-text">
                        Olá,
                        {% if user.is_authenticated %}
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        {% endif %}
                    </span>
                    {% if not user.picture_profile %}
                        <img class="img-xs rounded-circle" src="{% static 'core/images/samples/profile-placeholder.jpg' %}">
                    {% else %}
                        <img class="img-xs rounded-circle" src="{{ user.picture_profile.url }}">
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <a class="dropdown-item p-0">
                        <div class="d-flex border-bottom">
                            <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                            </div>
                            <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                            </div>
                            <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="{% url 'core:logout' %}">
                        Sair
                    </a>
                </div>
            </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>

<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                        <div class="profile-image">
                            {% if not user.picture_profile %}
                                <img src="{% static 'core/images/samples/profile-placeholder.jpg' %}" alt="image" class="profile-pic">
                            {% else %}
                                <img src="{{ user.picture_profile.url }}" alt="image" class="profile-pic">
                            {% endif %}
                        </div>
                        <div class="text-wrapper">
                            {% if user.is_authenticated %}
                                <p class="profile-name">
                                    {% if user.first_name %}
                                        {{ user.first_name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                    <span class="status-indicator online"></span>
                                </p>
                            {% endif %}
                            <div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-success btn-block" href="{% url 'core:index' %}">Painel</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-register" aria-expanded="false"
                   aria-controls="ui-basic">
                    <i class="menu-icon mdi mdi-content-copy"></i>
                    <span class="menu-title">Cadastros</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-register">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:category-list' %}">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Equipamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:message-list' %}">Mensagens Padrão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:worker-list' %}">Técnicos</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-transactions" aria-expanded="false"
                   aria-controls="ui-basic">
                    <i class="menu-icon mdi mdi-backup-restore"></i>
                    <span class="menu-title">Movimentações</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-transactions">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="">Chamados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Ordens de Serviço</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Solicitações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Notas de Débito</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-settings" aria-expanded="false"
                   aria-controls="ui-basic">
                    <i class="menu-icon mdi mdi-settings"></i>
                    <span class="menu-title">Configurações</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-settings">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="">Usuários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Grupos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{% url 'core:logout' %}">Sair</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
        </span>
    </div>
</footer>
<!-- plugins:js -->
<script src="{% static 'core/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'core/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'core/js/off-canvas.js' %}"></script>
<script src="{% static 'core/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'core/js/dashboard.js' %}"></script>
<!-- End custom js for this page-->
{% block js %}
{% endblock %}
</body>

</html>
