{% extends 'core/base.html' %}
{% load core_tags %}
{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-7 grid-margin stretch-card">
                    {% if temperature %}
                        <!--weather card-->
                        <div class="card card-weather">
                            <div class="card-body">
                                <div class="weather-date-location">
                                    <h3>{{ now.date|date:'l' }}</h3>
                                    <p class="text-gray">
                                        <span class="weather-date">{{ now.date }}, {{ city|default:'' }} - {{ region|default:'' }}</span>
                                    </p>
                                </div>
                                <div class="weather-data d-flex">
                                    <div class="mr-auto">
                                        <h4 class="display-3">
                                            {{ temperature|floatformat:'0'|default:'' }}
                                            <span class="symbol">°</span>C</h4>
                                        <p>
                                            {{ condition|default:'' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="d-flex weakly-weather">
                                    {% for day in forecast %}
                                        <div class="weakly-weather-item">
                                            <p class="mb-0">
                                                {{ day.date|slice:'2' }}
                                            </p>
                                            <i class="mdi {{ day.code|get_icon }}"></i>
                                            <p class="mb-0" style="font-size: 11px;">
                                                {{ day.low|f_to_c|floatformat:'0' }}° / {{ day.high|f_to_c|floatformat:'0' }}°
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--weather card ends-->
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
{% endblock %}
