{% extends 'core/base.html' %}
{% block content %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-description">Pesquisar</p>
                            <form method="get" name="searchForm">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Digite aqui o termo da pesquisa"
                                           aria-label="Pesquisar" aria-describedby="pesquisar" name="search"
                                           {% if search %}
                                                value="{{ request.GET.search }}"
                                           {% endif %}>
                                    <div class="input-group-append">
                                        <button class="input-group-text" type="submit">
                                            <i class="fa fa-search fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Técnicos</h4>
                            <p class="card-description">
                                Relação de técnicos
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for worker in workers %}
                                            <tr>
                                                <td class="py-1">
                                                    {% if worker.active %}
                                                        <label class="badge badge-success">habilitado</label>
                                                    {% else %}
                                                        <label class="badge badge-danger">desativado</label>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ worker.code }}
                                                </td>
                                                <td>
                                                    {{ worker.full_name }}
                                                </td>
                                                <td>
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            opções
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 30px, 0px);">
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-eye fa-fw"></i> visualizar
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-edit fa-fw"></i> editar
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-times text-danger fa-fw"></i>
                                                                excluir
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% empty %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
